@media screen and (max-width: 600px) {
  .progress-title {
    font-size: 0.7rem;
  }
}
.hp-stat {
  background-color: #FF5959;
}
.attack-stat {
  background-color: rgb(243, 163, 106);
}
.defense-stat {
  background-color: rgb(255, 219, 73);
}
.special-attack-stat {
  background-color: rgb(131, 166, 250);
}
.special-defense-stat {
  background-color: rgb(148, 219, 112);
}
.speed-stat {
  background-color: rgb(252, 140, 173);
}
.progress-bar {
  font-weight: 500;
  color:white;
}

.hp-stat,.attack-stat, .defense-stat, .special-attack-stat,
.special-defense-stat, .speed-stat{
  width: 0;
  animation: progress 1.5s ease-in-out forwards;
} 


@keyframes progress {
  from {
    width: 0;
  }
}

.poke-body-property {
  text-align: center;
}

.poke-body-property span {
  font-weight: bold;
  margin-right: 5px;
}

.poke-body-property.height {
  text-align: right;
}

.poke-body-property.weight {
  text-align: left;
}

.detail-main-content-row {
  margin-bottom: 10px;
}

.back-btn {
  border: solid 2px rgb(87, 87, 87);
}


.dark-mode-card.card {
  background-color: #41454d;
  border: 1px solid #5d626e;
  color: #ededed;
}
